.header {
  background-color: $primary;
  &-wrap {
    width: 100%;
    padding: 0 88px;
    @include rwd-px(39, 39, 0, 0);
    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .logo {
    transition: all 0.3s ease;
    @include rwd-my(30, 30, 10, 10);
    & a {
      @include replace-text(); // 圖片取代文字
      display: block;
      width: 80px;
      height: 48.57px;
      @include mobile {
        width: 48px;
        height: 29.14px;
      }
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  &-list {
    flex-direction: row-reverse;
    @include mobile {
      flex-wrap: wrap;
      width: 100%;
    }
    & li {
      @include mobile {
        width: 50%;
        outline: 1px solid #fff;
        transition: all 0.3s ease;
        &:hover {
          background-color: orange;
        }
      }
    }
    & li a {
      color: #fff;
      &:hover {
        color: orange;
      }
      @include mobile {
        line-height: 29px;
        padding: 8px 0;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
