.search {
  width: 40px;
  height: 40px;
  margin-bottom: 6px;
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  & img {
    width: 29.5px;
    height: 29.5px;
  }
}
.blog {
  &-list li{
    font-size: 20px;
    line-height: 24px;
  }
  &-img {
    height: 400px;
    @include desktop {
      height: 100%;
    }
    @include mobile {
      height: 217px;
    }
  }
  &-title {
    font-size: 32px;
    line-height: 46px;
    @include rwd-text-sz(20,29,16,24)
  }
  &-topic {
    font-size: 20px;
    line-height: 30px;
    @include rwd-text-sz(16,21,14,19)
  }
  &-date {
    font-size: 16px;
    line-height: 24px;
    @include rwd-text-sz(14,19)
  }
  &-article {
    font-size: 20px;
    line-height: 30px;
    @include rwd-text-sz(14,21)
  }
}
.blog-detail {
  padding-bottom: 160px;
  @include desktop {
    padding-bottom: 96px;
  }
  @include mobile {
    padding-bottom: 56px;
  }
  &-tags {
    font-size: 24px;
    line-height: 1.5;
    @include rwd-text-sz(16,36,14,36)
  }
  &-title{
    font-size: 48px;
    line-height: 95px;
    margin-bottom: 8px;
    @include rwd-text-sz(32,95,20,30);
    @include mobile {
      color: $primary;
    }
  }
  &-article {
    img {
      margin-bottom: 24px;
      @include desktop {
        margin-bottom: 16px;
      }
    }
    p {
      color: #0A0A0A;
      opacity: 0.6;
    }
  }
}
.tags{
  &-title p {
    font-size: 28px;
    line-height: 42px;
    @include rwd-text-sz(20,42);
  }
  &-icon {
    @include mobile {
      width: 30px;
    }
  }
}
.tags-list {
  & li a {
    font-size: 24px;
    line-height: 36px;
    @include rwd-text-sz(16,36);
  }
}
.share {
  font-size: 20px;
  line-height: 1.5;
  @include rwd-text-sz(16,30);
}
.pre,.next {
  font-size: 19px;
  line-height: 30px;
  @include rwd-text-sz(16,30,14,30)
}
.pre{
  @include desktop {
    width: 60%;
  }
}