.glasses{
  /*glasses種類*/
  &-type{
    font-size: 32px;
    flex-basis:370px;
    @include rwd-text-sz(24,32,14,14);
    & a {
      padding: 26px 0;
      border: 1px solid #DCDCDC;
      @include rwd-py(14,14,6,6);
    }
    & a:hover {
      padding-bottom: 18px;
      border-bottom: 8px solid $primary;
      @include desktop {
        padding-bottom: 6px;
      };
      @include mobile {
        padding-bottom: 2px;
        border-bottom: 4px solid $primary;
      };
    }
  }
  &-type-icon{
    font-size: 48px;
    line-height: 48px;
    @include rwd-text-sz(32,32,16,16);
  }
}
/*glasses banner 廣告*/
.glasses-adv {
  height: 304px;
  @include mobile {
    height: 148px;
  }
  &-glasses,&-woman,&-glassesSun,&-womanSun {
    background-position:center;
    background-size: cover;
  }
  &-glasses {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-1.png);
    @include desktop {
      background-image: url(https://images.unsplash.com/photo-1547104442-9f0af4f37a87?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);
    }
  }
  &-glassesSun {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-3.png);
  }
  &-woman {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner-2.png);
    @include desktop {
      background-image: url(https://images.unsplash.com/photo-1544825470-60e99eef8a70?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=925&q=80);
    }
  }
  &-womanSun {
    background-image: url(https://aer456987.github.io/GlassShop_week3/assets/images/banners/banner-4.png);
  }
}
.glasses-main {
  padding-top: 80px;
  padding-bottom: 160px;
  @include rwd-py(56,96,32,56);
}
/*glasses product列表*/
.glasses{
  &-title {
    font-size: 42px;
    font-weight: 500;
    @include rwd-text-sz(32,48,20,48);
    & span {
      font-size: 32px;
      @include rwd-text-sz(24,36,16,36);
    }
  }
  &-productImg {
    height: 164px;
    object-fit: cover;
  }
  &-productNum{
    font-size: 24px;
    @include rwd-text-sz(24,30,16,30);
  }
  &-productPrice {
    color: #AA0601;
    font-size: 24px;
    @include rwd-text-sz(24,30,16,30);
  }
}