.mobile-show {
  @include mobile {
    display: block;
  }
}
.mobile-hide {
  @include mobile {
    display: none;
  }
}
.desktop-text-s {
  @include desktop {
    font-size: 14px;
  }
}
.mobile-text-s {
  @include mobile {
    font-size: 14px;
  }
}
.d-lg-flex {
  @include desktop {
    display: flex;
  }
}
.d-lg-block {
  @include desktop {
    display: block;
  }
}
.d-lg-inline {
  @include desktop {
    display: inline;
  }
}
.d-lg-none {
  @include desktop {
    display: none;
  }
}
.d-md-none {
  @include mobile {
    display: none;
  }
}
.d-md-flex {
  @include mobile {
    display: flex;
  }
}
.d-md-block {
  @include mobile {
    display: block;
  }
}
