.contact {
  padding-top: 60px;
  padding-bottom: 80px;
  @include rwd-py(40, 56, 30, 40);
  &-title {
    text-align: center;
    font-weight: bold;
    @include rwd-text-sz(32, 48, 20);
  }
  &-article {
    font-size: 20px;
    @include rwd-text-sz(16, 24);
  }
}
.group {
  & label {
    @include rwd-text-sz(14, 21);
  }
  & input,& textarea {
    padding: 15px 16px;
    background-color: $secondary;
    border: 1px solid #000;
    font-size: 16px;
  }
  & textarea {
    height: 136px;
    @include desktop {
      height: 100px;
    }
  }
  & button {
    max-width: 350px;
    @include desktop {
      max-width: 200px;
    }
    @include mobile {
      max-width: 165px;
    }
    width: 100%;
    display: block;
    border: none;
    padding: 16px 0;
    @include rwd-py(10, 10, 8, 8);
    font-weight: bold;
    font-size: 16px;
    @include rwd-text-sz(14, 21);
  }
}
